<app-validation></app-validation>



<div *ngIf='loggedInUser'>
    <div>
        <app-user-nav-bar ></app-user-nav-bar>
        <app-user-nav-bar-vertical></app-user-nav-bar-vertical>
    </div>

        



    <div style="position: absolute; top: 85px; left:107px; width: 840px; text-align: center">


        <ul>
          <li class="list-group-item list-group-item-primary"><a href="https://en.wikipedia.org/wiki/Transactional_account" class="mw-redirect" title="Transactional account">Transactional accounts</a>
          <ul>
            <li class="list-group-item list-group-item-secondary"><a href="https://en.wikipedia.org/wiki/Checking_account" class="mw-redirect" title="Checking account">Checking accounts</a> (<a href="/wiki/American_English" title="American English">American English</a>)</li>
            <li class="list-group-item list-group-item-secondary"><a href="https://en.wikipedia.org/wiki/Current_account_(banking)" class="mw-redirect" title="Current account (banking)">Current accounts</a> (<a href="/wiki/British_English" title="British English">British English</a>)</li>
          </ul>
          </li>
          <li class="list-group-item list-group-item-success"><a href="https://en.wikipedia.org/wiki/Savings_account" title="Savings account">Savings accounts</a></li>
          <li class="list-group-item list-group-item-danger"><a href="https://en.wikipedia.org/wiki/Debit_card" title="Debit card">Debit cards</a></li>
          <li class="list-group-item list-group-item-warning"><a href="https://en.wikipedia.org/wiki/ATM_card" title="ATM card">ATM cards</a></li>
          <li class="list-group-item list-group-item-info"><a href="https://en.wikipedia.org/wiki/Credit_card" title="Credit card">Credit cards</a></li>
          <li class="list-group-item list-group-item-light"><a href="https://en.wikipedia.org/wiki/Traveler%27s_cheque" title="Traveler's cheque">Traveler's cheques</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://en.wikipedia.org/wiki/Mortgage" class="mw-redirect" title="Mortgage">Mortgages</a></li>
          <li class="list-group-item list-group-item-primary"><a href="https://en.wikipedia.org/wiki/Home_equity_loan" title="Home equity loan">Home equity loans</a></li>
          <li class="list-group-item list-group-item-success"><a href="https://en.wikipedia.org/wiki/Personal_loan" class="mw-redirect" title="Personal loan">Personal loans</a></li>
          <li class="list-group-item list-group-item-danger"><a href="https://en.wikipedia.org/wiki/Certificate_of_deposit" title="Certificate of deposit">Certificates of deposit</a> / <a href="/wiki/Term_deposit" class="mw-redirect" title="Term deposit">Term deposits</a></li>
          <li class="list-group-item list-group-item-warning"><a href="https://en.wikipedia.org/wiki/Sweep_account" title="Sweep account">Sweep accounts</a></li>
          <li class="list-group-item list-group-item-info"><a href="https://en.wikipedia.org/wiki/Money_market_account" title="Money market account">Money market accounts</a></li>
          <li class="list-group-item list-group-item-light"><a href="https://en.wikipedia.org/wiki/Individual_Retirement_Account" class="mw-redirect" title="Individual Retirement Account">Individual Retirement Accounts</a> (IRA's)</li>
        </ul>


        




    </div>

  </div>