<div style="text-align: center">
    <p><input placeholder="Login" style="text-align: center" [(ngModel)]='login'></p>
    <p><input placeholder="Password" type="Password" style="text-align: center" [(ngModel)]='password'></p>
    <p><button class="btn btn-success" (click)='logIn()'>Sign in</button></p>
</div>

<!-- <form class="form-inline">
        <div class="form-group">
          <label for="inputPassword6">Password</label>
          <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
          <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
          </small>
        </div>
      </form> -->