<app-validation></app-validation>

<div *ngIf='loggedInUser' style="height:100%">
    <div style="height:100%">
        <app-user-nav-bar style="height:100%"></app-user-nav-bar>
        <app-user-nav-bar-vertical style="height:100%"></app-user-nav-bar-vertical>
    </div>
        

    <div style="position: absolute; top: 75px; left: 40%;">
        </div>
        <div style="position: absolute; top: 90px; margin-left: 40%">
                <button (click)='showAcc()' class="btn btn-primary" style="margin-left:33%">Show Overview</button>
                <br>
                <div>
                    <select class="form-control" [(ngModel)]='chosenAcc'>
           <option *ngFor=' let account of loggedInUser.accountList'>{{account.iban.value}}</option>
          </select>
         
        
          <div *ngIf='showingAcc'>
              <div style='text-align: center'>
                      <ul *ngFor='let transfer of showingAcc.transferList.slice().reverse()' style="margin-left: -40px">
                        <li class="list-group-item list-group-item-action list-group-item-secondary"><b>Date:</b> {{transfer.date | date:'short'}}</li>
                        <li class="list-group-item list-group-item-action list-group-item-light"><b>Amount:</b> ${{transfer.amount.toFixed(2)}}</li>
                        <li class="list-group-item list-group-item-action list-group-item-light"><b>Payee:</b> {{transfer.receiverFirstName}} {{transfer.receiverLastName}} <b> IBAN: </b>{{transfer.receiverIban}}</li>
                        <li class="list-group-item list-group-item-action list-group-item-light"><b>Payer:</b> {{transfer.senderFirstName}} {{transfer.senderLastName}} <b> IBAN: </b>{{transfer.senderIban}}</li>
                        <li class="list-group-item list-group-item-action list-group-item-light"><b>Reference: </b> {{transfer.reference}}</li>
                    </ul>
                    </div>
                    
                  </div>
        
        </div>
        <br>



    </div> 
</div>