<app-validation></app-validation>



<div *ngIf='loggedInUser'>
    <div>
        <app-user-nav-bar ></app-user-nav-bar>
        <app-user-nav-bar-vertical></app-user-nav-bar-vertical>
    </div>

        



    <div style="position: absolute; top: 75px; left:107px; width: 1280px; text-align: center">
      <div style="margin: 12%; width: 480 px">
      <ul class="list-group">
          <li class="list-group-item list-group-item-success">From: Sender</li>
          <li class="list-group-item">Subject: Subject</li>
          <li class="list-group-item">Preview preview preview preview preview ....</li>
      </ul>

      <hr>
      <ul class="list-group">
          <li class="list-group-item list-group-item-success">From: Sender</li>
          <li class="list-group-item">Subject: Subject</li>
           <li class="list-group-item">Preview preview preview preview preview ....</li>
      </ul>
    </div>
  </div>

</div>
