<div>
  <div>
    <app-user-nav-bar></app-user-nav-bar>
    <app-user-nav-bar-vertical></app-user-nav-bar-vertical>
  </div>

  <div style="position: absolute; top: 25%; left: 26.5%; right: 26.5%">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome - please sign in underneath!</h4>
      <hr>
      <p class="mb-0">Whenever you got any questions, be sure to use Google before asking stupid questions.</p>
    </div>
    
    <app-user-login ></app-user-login>
    <br>
    <br>
    
  </div>
</div>




